body {

    margin-left: auto;
    margin-right: auto;
}

a {
  text-decoration: none;
}




/* メモ　クリップ　Ｂ */
.clip-box-b {
 position: relative;
 margin: 1em 1em 0em;
 padding: 10px 35px 10px 25px;
 width: 80%; /* ボックス幅 */
 background-color: #FFE4E1; /* ボックス背景色 */
 font-size: 1.2em;
 color: #666666; /* 文章色 */
 box-shadow: 4px 4px 1px #FFB6C1; /* 影の色 */
}
.clip-box-b::before {
 position: absolute;
 content: '';
 top: -15px;
 right: 10px;
 height: 55px;
 width: 15px;
 border: 3px solid #C0C0C0; /*クリップ色 */
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #ccc; /*クリップ影*/
 transform: rotate(10deg);
 z-index: 1;
}
.clip-box-b::after {
 position: absolute;
 content: '';
 top: 0px;
 width: 10px; 
 right: 20px;
 border: solid 5px #FFE4E1; /*背景色と同じ色に！*/
 z-index: 2;
}

ul {
  border: solid 2px skyblue;
  border-radius: 5px;
  margin: .25em 1em;
  padding: 0.3em 1em 0.3em 2.3em;
  position: relative;
}

ul li {
  margin-left:  -30px;
  line-height: 1.5;
  padding: 0.15em 0;
  list-style-type: none!important;
}
